@model IEnumerable<MusStore.Data.Topic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="message-header">
    <h1></h1>
    <p class="lead"></p>
</div>

@*<div class="messages">
    <div class="message row">
        <div class="title span10">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="date span2">Feb 12,2015</div>
        <div class="contents span12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        <div class="toolbar span12">
            <button class="btn-primary reply-button span2">
                Reply 

            </button>
                <div class="replies span12">
                    <div class="reply">
                        <div class="created pull-right">Jul 07,2015</div>
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                        </div>
                    </div>
                    <div class="reply">
                        <div class="created pull-right">Jul 07,2015</div>
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                        </div>
                    </div>
                    <div class="reply">
                        <div class="created pull-right">Jul 07,2015</div>
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                        </div>
                    </div>

                </div>
          
        </div>
    </div>
    <div class="message row">
        <div class="title span10">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="date span2">Feb 12,2015</div>
        <div class="contents span12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        <div class="toolbar span12">
            <button class="btn-primary reply-button span2">
                Reply </button>
                <div class="replies span12"></div>
           
        </div>
    </div>
    <div class="message row">
        <div class="title span10">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="date span2">Feb 12,2015</div>
        <div class="contents span12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        <div class="toolbar span12">
            <button class="btn-primary reply-button span2">
                Reply   </button>
                <div class="replies span12"></div>
         
        </div>
    </div>
    <div class="message row">
        <div class="title span10">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="date span2">Feb 12,2015</div>
        <div class="contents span12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        <div class="toolbar span12">
            <button class="btn-primary reply-button span2">
                Reply </button>
                <div class="replies span12"></div>
           
        </div>
    </div>
    <div class="message row">
        <div class="title span10">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="date span2">Feb 12,2015</div>
        <div class="contents span12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        <div class="toolbar span12">
            <button class="btn-primary reply-button span2">
                Reply  </button>
                <div class="replies span12"></div>
          
        </div>
    </div>
    <div class="message row">
        <div class="title span10">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="date span2">Feb 12,2015</div>
        <div class="contents span12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        <div class="toolbar span12">
            <button class="btn-primary reply-button span2">
                Reply</button>
                <div class="replies span12"></div>
            
        </div>
    </div>
    <div class="message row">
        <div class="title span10">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="date span2">Feb 12,2015</div>
        <div class="contents span12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        <div class="toolbar span12">
            <button class="btn-primary reply-button span2">
                Reply</button>
                <div class="replies span12"></div>
            
        </div>
    </div>
    <div class="message row">
        <div class="title span10">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="date span2">Feb 12,2015</div>
        <div class="contents span12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        <div class="toolbar span12">
            <button class="btn-primary reply-button span2">
                Reply</button>
                <div class="replies span12"></div>
            
        </div>
    </div>
    <div class="message row">
        <div class="title span10">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="date span2">Feb 12,2015</div>
        <div class="contents span12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        <div class="toolbar span12">
            <button class="btn-primary reply-button span2">
                Reply </button>
                <div class="replies span12"></div>
           
        </div>
    </div>
    <div class="message row">
        <div class="title span10">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="date span2">Feb 12,2015</div>
        <div class="contents span12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        <div class="toolbar span12">
            <button class="btn-primary reply-button span2">
                Reply </button>
                <div class="replies span12"></div>
           
        </div>
    </div>
    <div class="message row">
        <div class="title span10">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="date span2">Feb 12,2015</div>
        <div class="contents span12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        <div class="toolbar span12">
            <button class="btn-primary reply-button span2">
                Reply</button>
                <div class="replies span12"></div>
            
        </div>
    </div>
    <div class="message row">
        <div class="title span10">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="date span2">Feb 12,2015</div>
        <div class="contents span12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        <div class="toolbar span12">
            <button class="btn-primary reply-button span2">
                Reply </button>
                <div class="replies span12"></div>
           
        </div>
    </div>
    <div class="message row">
        <div class="title span10">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="date span2">Feb 12,2015</div>
        <div class="contents span12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        <div class="toolbar span12">
            <button class="btn-primary reply-button span2">
                Reply</button>
                <div class="replies span12"></div>
            
        </div>
    </div>
    <div class="message row">
        <div class="title span10">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="date span2">Feb 12,2015</div>
        <div class="contents span12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        <div class="toolbar span12">
            <button class="btn-primary reply-button span2">
                Reply </button>
                <div class="replies span12"></div>
           
        </div>
    </div>
    <div class="message row">
        <div class="title span10">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="date span2">Feb 12,2015</div>
        <div class="contents span12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        <div class="toolbar span12">
            <button class="btn-primary reply-button span2">
                Reply </button>
                <div class="replies span12"></div>
           
        </div>
    </div>
    <div class="message row">
        <div class="title span10">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="date span2">Feb 12,2015</div>
        <div class="contents span12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        <div class="toolbar span12">
            <button class="btn-primary reply-button span2">
                Reply</button>
                <div class="replies span12"></div>
            
        </div>
    </div>
    <div class="message row">
        <div class="title span10">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="date span2">Feb 12,2015</div>
        <div class="contents span12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        <div class="toolbar span12">
            <button class="btn-primary reply-button span2">
                Reply </button>
                <div class="replies span12"></div>
           
        </div>
    </div>
    <div class="message row">
        <div class="title span10">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="date span2">Feb 12,2015</div>
        <div class="contents span12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        <div class="toolbar span12">
            <button class="btn-primary reply-button span2">
                Reply </button>
                <div class="replies span12"></div>
           
        </div>
    </div>
<div class="message row">
    <div class="title span10">
        Lorem ipsum dolor sit amet.
    </div>
    <div class="date span2">Feb 12,2015</div>
    <div class="contents span12">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
    </div>
    <div class="toolbar span12">
        <button class="btn-primary reply-button span2">
            Reply </button>
        <div class="replies span12"></div>

    </div>
</div>*@
<div class="messages">
    @foreach (var topic in Model)
    {
        <div class="message row">
            <div class="title span10">
                @topic.Title
            </div>
            <div class="contents span16"> <img src=@topic.Path /></div>
            @*<div class="date span2">Feb 12,2015</div>*@
            <div class="contents span12">
                @topic.Body
            </div>
            <div class="toolbar span12">
                <button class="btn-primary reply-button span2">
                    Reply
                </button>
                <div class="replies span12"></div>
            </div>
        </div>
    }
</div>      




 